:root {
  /* Colors */

  --white: #ffffff;
  --black: #202020;
  --grey-light: #C7C7C7;
  --grey-pale: #f4f4f4;

  /* Sizes */
  --max-width: 80rem;
  --space: 1rem;
  --border-radius: 4px;
  --container-padding-xs: 1rem;
  --container-padding-s: 1.5rem;

  /* Typography */
  --line-height: 1.2;
}
